body {
  background-color: rgba(215,177,80,.1);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#main-content {
  position: relative;
  margin: 0 auto;
  top: 50px;
  width: 80%;
  height: 300px;
}

#link-container {
  position: relative;
  left: 50%;
  top: 15px;
}

.link {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.link:hover {
  text-decoration: none;
}

th {
    background-color: #FCAB10;
    color: white;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
}


td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
}


#disclaimer {
  font-size: 12px;
}


.total {
  font-weight: bold;
  font-size: 18px;
}

#deal-container {
  width: 70%;
}

#deal-div {
  position: relative;
  top: 10px;
  border: solid black 1px;
}

#deal-div img {
  display: block;
  width: 250px;
  height: 250px;
}

#deal-div-right {
  position: relative;
  float: right;
  height: 100px;
  width: 60%;
  top: -240px;
}

#deal-div-right h2 {
  font-size: 18px;
  font-family: arial;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: RGBA(237,186,108,.93);
}

#main-nav {
  background-color: rgba(237,186,108,.93);
}

#main-body {
    position: relative;
    margin: 0 auto;
    width: 80%;
}

.pumpkin-main {
  width: 250px;
  height: 250px;
  text-align: center;
  background-color: rgba(215,177,80,.1);
  float: left;
  margin: 45px;
}

.pumpkin-main img {
    width: 80%;
    height: 80%;
}
