body {
  background-color: rgba(215,177,80,.1);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#main-content {
  position: relative;
  margin: 0 auto;
  top: 50px;
  width: 80%;
  height: 300px;
}

#link-container {
  position: relative;
  left: 50%;
  top: 15px;
}

.link {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.link:hover {
  text-decoration: none;
}

#deal-div {
  position: relative;
  margin: 0 auto;
  top: 10px;
  border: solid black 1px;
}

#deal-div img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: RGBA(237,186,108,.93);
}

#main-nav {
  background-color: rgba(237,186,108,.93);
}

#main-body {
    position: relative;
    margin: 0 auto;
    width: 80%;
    float: left;
}

.pumpkin-main {
  width: 250px;
  height: 250px;
  background-color: lightblue;
  display:inline-block;
}
